{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="static/css/style.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
{% endblock head %}

{% block body %}

<div class="container py-5">
    <div class="row text-center text-dark mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4"><b>Book List</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">AMU MCA Entrance Comprehensive Guide</h5>
                            <p class="font-italic text-muted mb-0 small">Author:Shaharyar A Ansari | Binding:Paperback | Publishing Date:2017 | Publisher:DES Academy | Edition:3rd | Number of Pages:550 | Language:English</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹ 799</h6>
                                <div class="d-flex align-items-center justify-content-between py-2 px-3">
                                    <div><a href="https://www.flipkart.com/amu-mca-entrance-comprehensive-guide/p/itm5c126a544a4ee?pid=RBKG3X7F4ZRZGGHZ&lid=LSTRBKG3X7F4ZRZGGHZTUPGIU&marketplace=FLIPKART&q=amu+mca&store=bks&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=194507b6-f26d-4068-a6ab-60b723ad2dc4.RBKG3X7F4ZRZGGHZ.SEARCH&ppt=hp&ppn=homepage&ssid=sw2zf1kkts0000001628270386447&qH=4a946de1a2a16d5a" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Buy via Flipkart</a></div>&nbsp &nbsp &nbsp &nbsp
                                    <div><a href="https://www.amazon.in/AMU-MCA-Entrance-Comprehensive-Guide/dp/B0972KWLL5/ref=sr_1_2?crid=NQ5R4S28EBVJ&dchild=1&keywords=amu+mca+entrance+book&qid=1628270509&sprefix=amu%2Caps%2C359&sr=8-2" class="btn btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Buy via Amazon</a></div>
                                </div>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img src="static/img/mca-front.jpeg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">AMU M.Sc. Data Scince Comprehensive Guide</h5>
                            <p class="font-italic text-muted mb-0 small">Author:Shaharyar A Ansari | Binding:Paperback | Publishing Date:2021 | Publisher:DES Academy | Edition:1st | Number of Pages:536 | Language:English</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹ 849</h6>
                                <div class="d-flex align-items-center justify-content-between py-2 px-3">
                                    <div><a href="https://www.flipkart.com/amu-m-sc-data-science-entrance/p/itmc63628aa49921?pid=RBKG3XY9XGHDATDY&lid=LSTRBKG3XY9XGHDATDYS5UV6W&marketplace=FLIPKART&q=amu+m.sc&store=bks&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=06ad55b7-cdae-4cc5-8336-369f6aba2e8e.RBKG3XY9XGHDATDY.SEARCH&ppt=pp&ppn=pp&ssid=8qddk6gl740000001628270683358&qH=4a47fa08b9fe855a" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Buy via Flipkart</a></div>&nbsp &nbsp &nbsp &nbsp
                                    <div><a href="https://www.amazon.in/M-Sc-Data-Science-Entrance-Guide/dp/B0972SW2XN/ref=sr_1_2?dchild=1&keywords=amu+m.sc.&qid=1628270860&sr=8-2" class="btn btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Buy via Amazon</a></div>
                                </div>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                </ul>
                            </div>
                        </div><img src="static/img/ds-front.jpeg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">AMU M.Sc. Cybersecurity Comprehensive Guide</h5>
                            <p class="font-italic text-muted mb-0 small">Author:Shaharyar A Ansari | Binding:Paperback | Publishing Date:2021 | Publisher:DES Academy | Edition:1st | Number of Pages:542 | Language:English</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹ 849</h6>
                                <div class="d-flex align-items-center justify-content-between py-2 px-3">
                                    <div><a href="https://www.flipkart.com/amu-m-sc-cybersecurity-entrance-1st/p/itm1b94d94ef43db?pid=RBKG3XY278PWTGFR&lid=LSTRBKG3XY278PWTGFRGETIGU&marketplace=FLIPKART&q=amu+m.sc&store=bks&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=06ad55b7-cdae-4cc5-8336-369f6aba2e8e.RBKG3XY278PWTGFR.SEARCH&ppt=pp&ppn=pp&ssid=8qddk6gl740000001628270683358&qH=4a47fa08b9fe855a" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Buy via Flipkart</a></div>&nbsp &nbsp &nbsp &nbsp
                                    <div><a href="https://www.amazon.in/AMU-M-Sc-Cybersecurity-Entrance-Guide/dp/B0972RD167/ref=sr_1_1?dchild=1&keywords=amu+m.sc.&qid=1628270860&sr=8-1" class="btn btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Buy via Amazon</a></div>
                                </div>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img src="static/img/cyber-front.jpeg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">AMU MCA Entrance Previous 5 Years Question Papers</h5>
                            <p class="font-italic text-muted mb-0 small">Lat 5 Years questions with 3 Mock Test</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹ 199</h6>
                                <div class="d-flex align-items-center justify-content-between py-2 px-3">
                                    <div><a href="https://www.flipkart.com/amu-mca-entrance-previous-5-years-question-papers/p/itm84869f1d77c1e?pid=RBKG3WZEEXEEG3UF&lid=LSTRBKG3WZEEXEEG3UFCPFNJV&marketplace=FLIPKART&q=amu+mca&store=bks&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=926940ca-44b0-4968-90fe-42d174234577.RBKG3WZEEXEEG3UF.SEARCH&ppt=sp&ppn=sp&ssid=ncjtnv9jhc0000001628270692411&qH=4a946de1a2a16d5a" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Buy via Flipkart</a></div>&nbsp &nbsp &nbsp &nbsp
                                    <div><a href="https://www.amazon.in/AMU-MCA-Previous-Year-Papers/dp/B0972VWCBR/ref=sr_1_4?dchild=1&keywords=amu+mca&qid=1628270827&sr=8-4" class="btn btn-outline-warning" tabindex="-1" role="button" aria-disabled="true">Buy via Amazon</a></div>
                                </div>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                </ul>
                            </div>
                        </div><img src="static/img/pyq-front.jpeg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
</div>

{% endblock body %}