

{% extends 'base.html' %}

{% block title %}DES Academy{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="https://source.unsplash.com/1200x400/?institute" class="d-block w-100 mx-0" alt="...">
</div>

<h2 class="text-center"> "Welcome to <b>DES Academy</b>" </h2>

<div class="container mb-3 py-4">
    <h1 class="text-center">Register Yourself for AMU MCA Entrance Batch 2022-23</h1>
    <form method="post" action="/desacademy">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>      
        
        <div class="form-group">
            <label for="desc">How do you came to know about US!</label>
            <textarea class="form-control" id="desc" rows="3" name="desc" placeholder="Like Social Media, Friend, Online etc. "></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>

{% endblock body %}