{% extends 'base.html' %}

{%load static %}

{% block title %}Research Article{% endblock title %}

{% block body %}
<div>
<div class="container-fluid px-0 mb-3" >
    <img src="{% static 'img/research.jpg' %}" class="d-block w-100 mx-0 my-0" alt="...">
</div>
    </div>
<h1 align="center">Common Questions of Researchers.</h1>
<br>
<h2>Here I tried to answer the common questions of the new researchers.</h2>
<ol>
 <li>
 How can I select a research problem?
 </li>
     <li>
How to write a research Paper?
 </li>
     <li>
Where to find the suitable /best journals for my paper?
 </li>
     <li>
How to publish in journals?
 </li>
     <li>
What is Paid/ Indexed Journal?
 </li>
</ol>


Here's a step by step procedure...👇

1. For finding the problem you have to read a number of recently published papers. This phenomenon is called literature Review. In this step you may take the help of your guide. So, here we find the research gap or the problems which you will propose to solve.

2. It’s better suggested to write a review paper first, based on your understanding of the literature review. After that you can proceed for actual research paper which requires learning of tools and methodologies to solve your proposed problem.

3. These are links provided by different publishing house from where you will find the most suitable journals for your paper.

Elsevier Journal Finder

Springer Journal Finder

Wiley Journal Finder

Taylor & Francis Journal Finder

General Journal Finder

Journal Guide

4.   Submit your paper in selected journal and wait for review, the time of review vary from journal to journal. It may vary from 1 month to a year depending upon the quality of journal which is decided by the impact factor.

No alt text provided for this image
5. The below diagram will clear your doubt about type of journals and its indexing authorities.

No alt text provided for this image
Hope you liked this Article, please drop your thought below.

Thank you so much for your support.
{% endblock body %}